<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{% block title %}Mi Tienda{% endblock %}</title>
</head>
<body>
    <div class="container">
        <header>
            <h1 class="mt-5">Bienvenido a Mi Tienda</h1>
            <nav>
                <!-- Puedes agregar un menú de navegación aquí si lo deseas -->
            </nav>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer class="mt-5 mb-5">
            <p>&copy; 2024 Mi Tienda</p>
        </footer>
    </div>
</body>
</html>
