{% extends 'store/base.html' %}

{% block title %}Lista de Productos{% endblock %}

{% block content %}
    <h2 class="mt-4">Productos</h2>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">${{ product.price }}</p>
                        <a href="#" class="btn btn-primary">Agregar al Carrito</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
